</body><!DOCTYPE html>
<html lang="jn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alpha-blog</title>
    <link rel="stylesheet" href="../css/main.css">
    
    <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <h1>Listing all articles</h1>
<h4><%= link_to "HOME", root_path %></h4>
<h4><%= link_to "ABOUT", pages_about_path %></h4>

<p>
<%= link_to "新規記事作成", new_article_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to '編集', edit_article_path(article) %></td>
    <td><%= link_to '閲覧', article_path(article) %></td>
    <td><%= link_to '削除', article_path(article), method: :delete, data: {confirm: "削除してもよろしいですか？"} %></td>
  </tr>
  <% end %>
</table>

</body>
</html>
</html>

